/*font-family: 'Shadows Into Light', cursive;*/


/* 1�re div avec Image d'accueil */
#myContainer { width: 100% !important; padding: 0; }
.myRow { width: 100%; margin: auto; }
#visuelMentionLegale { width: 100%; margin-top: 109px; }


@media (min-width: 1020px) and (max-width: 1200px) {
    #visuelMentionLegale { width: 100%; margin-top: 117px; }
}
@media (min-width: 768px) and (max-width: 1012px) {
    #visuelMentionLegale { width: 100%; margin-top: 103px; }
}

@media (min-width: 425px) and (max-width: 767px) {
    #visuelMentionLegale { width: 100%; margin-top: 97px; }
}

@media (min-width: 320px) and (max-width: 425px) {
    #visuelMentionLegale { width: 100%; margin-top: 97px; }
}


/* Gros titre des divs */
.myTitle { text-align: center; color: #134E9A; font-family: 'Fredoka One',  Impact, Arial Black; }
.myTitle span { color: #F68525; }
/* fin gros titre des divs */


/*A propos*/
.imgCenter { text-align: center;}
.paddingTopS {padding-top : 20px;}
/*FIN A Propos*/


/*ML*/
.myTitleMl{ text-align: left; color: #F68525; font-family: 'Fredoka One',  Impact, Arial Black; }
.proposMl {color: #134E9A; text-align: justify; font-family: 'Open Sans Condensed',Helvetica, Arial, Tahoma; font-size: 20px;}
.proposMl span { color: #134E9A!important; text-decoration:underline; font-family: 'Open Sans Condensed',Helvetica, Arial, Tahoma;}
.proposMl > a {color: #F68525; text-decoration:underline; font-family: 'Open Sans Condensed',Helvetica, Arial, Tahoma;}
h1{ font-size: 27px !important;}
.proposMl .strong{font-weight: bold; text-decoration: none;}
/*FIN ML*/


.marginBottomMl{margin-bottom:30px!important;}
.paddingTop2Ml{padding-top : 30px; border-bottom:0!important; }



    /*Footer*/
.paddingTop {padding-top : 30px; }
.paddingTopL {padding-top : 60px; }
/*Fin Footer*/