<!DOCTYPE html>
<html lang="fr">
    <head>

        {% block metadata %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
        {% block link %}{% endblock %}
        {% block import %}{% endblock %}

    </head>

    <header>

        {% block header %}{% endblock %}

    </header>

    <body>
        {% block block1 %}{% endblock %}
        {% block block2 %}{% endblock %}
        {% block block3 %}{% endblock %}
        {% block block4 %}{% endblock %}
        {% block block5 %}{% endblock %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-66044218-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>

    <footer>

        {% block footer %}{% endblock %}
        {%  block javascript %}{% endblock %}
    </footer>

</html>
