{% block block1 %}
        <div class="container-fluid" id="myContainer">
            <img src="/Visuels/Contact/VISUEL_CONTACTER.jpg" id="visuelContactUs"  alt="Nous contacter"/>
        </div>
{% endblock %}