<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
      xmlns="http://www.w3.org/TR/REC-html40">
<head>
    <meta name=Generator content="Microsoft Word 15 (filtered medium)">
    <!--[if !mso]>
    <style>v\: * {
        behavior: url(#default#VML);
    }

    o\: * {
        behavior: url(#default#VML);
    }

    w\: * {
        behavior: url(#default#VML);
    }

    .shape {
        behavior: url(#default#VML);
    }
    </style><![endif]-->
    <style><!--
        /* Font Definitions */
        @font-face {
            font-family: "Cambria Math";
            panose-1: 2 4 5 3 5 4 6 3 2 4;
        }

        @font-face {
            font-family: "Calibri Light";
            panose-1: 2 15 3 2 2 2 4 3 2 4;
        }

        @font-face {
            font-family: Calibri;
            panose-1: 2 15 5 2 2 2 4 3 2 4;
        }

        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            margin: 0cm;
            margin-bottom: .0001pt;
            font-size: 11.0pt;
            font-family: "Calibri", sans-serif;
            mso-fareast-language: EN-US;
        }

        a:link, span.MsoHyperlink {
            mso-style-priority: 99;
            color: #0563C1;
            text-decoration: underline;
        }

        a:visited, span.MsoHyperlinkFollowed {
            mso-style-priority: 99;
            color: #954F72;
            text-decoration: underline;
        }

        p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph {
            mso-style-priority: 34;
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 0cm;
            margin-left: 36.0pt;
            margin-bottom: .0001pt;
            font-size: 11.0pt;
            font-family: "Calibri", sans-serif;
            mso-fareast-language: EN-US;
        }

        p.msonormal0, li.msonormal0, div.msonormal0 {
            mso-style-name: msonormal;
            mso-margin-top-alt: auto;
            margin-right: 0cm;
            mso-margin-bottom-alt: auto;
            margin-left: 0cm;
            font-size: 12.0pt;
            font-family: "Times New Roman", serif;
        }

        span.EmailStyle19 {
            mso-style-type: personal-compose;
            font-family: "Calibri", sans-serif;
            color: windowtext;
        }

        .MsoChpDefault {
            mso-style-type: export-only;
            font-size: 10.0pt;
            font-family: "Calibri", sans-serif;
            mso-fareast-language: EN-US;
        }

        @page WordSection1 {
            size: 612.0pt 792.0pt;
            margin: 70.85pt 70.85pt 70.85pt 70.85pt;
        }

        div.WordSection1 {
            page: WordSection1;
        }

        --></style>
    <!--[if gte mso 9]>
    <xml>
        <o:shapedefaults v:ext="edit" spidmax="1026"/>
    </xml><![endif]--><!--[if gte mso 9]>
    <xml>
        <o:shapelayout v:ext="edit">
            <o:idmap v:ext="edit" data="1"/>
        </o:shapelayout>
    </xml><![endif]--></head>
<body lang=FR link="#0563C1" vlink="#954F72">
<div class=WordSection1>
    <p class=MsoNormal>
        <b>
            <span style='font-family:"Calibri Light",sans-serif;color:#134E9A;mso-fareast-language:FR'>
                <img width=275 height=122 id="Image_x0020_1" src="{{ logo }}">
            </span>
        </b>
        <b><span
                    style='font-family:"Calibri Light",sans-serif;color:#134E9A'><o:p></o:p></span></b></p>
    <p class=MsoNormal><b><span style='font-family:"Calibri Light",sans-serif;color:#134E9A'><o:p>&nbsp;</o:p></span></b>
    </p>
    <p class=MsoNormal><b><span
                    style='font-family:"Calibri Light",sans-serif;color:#134E9A'>Félicitations</span></b><span
                style='font-family:"Calibri Light",sans-serif;color:#134E9A'>, <o:p></o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><span
                style='font-family:"Calibri Light",sans-serif'>Vous faites désormais partie de l’aventure <b><span
                        style='color:#F68525'>DEV CUP</span></b><span style='color:#F68525'> </span>de l’<b><span
                        style='color:#134E9A'><a href="http://www.acensiuniversityleague.com/"><span
                                style='color:#134E9A;text-decoration:none'>ACENSI University League</span></a> 2016</span></b><span
                    style='color:#134E9A'>&nbsp;</span>!<o:p></o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif;color:black'>Préparez-vous à batailler pour remporter l’édition 2016&nbsp;!<o:p></o:p></span>
    </p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif;color:black'>L’équipe de l’ACENSI University League vous recontactera deux semaines avant le début de la compétition pour vous fournir tous les détails de la compétition. <o:p></o:p></span>
    </p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif;color:black'>À noter que les qualifications auront lieu du 24 Octobre au 13 Novembre 2016.<o:p></o:p></span>
    </p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'>Si vous avez la moindre question, n’hésitez pas à <a
                    href="https://www.acensiuniversityleague.com/contact">nous contacter ici</a> ou par mail à l’adresse suivante&nbsp;: <a
                    href="mailto:aul@acensi.fr">aul@acensi.fr</a><o:p></o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><b><span style='font-family:"Calibri Light",sans-serif;color:#134E9A'>Bon tournoi&nbsp;!<o:p></o:p></span></b>
    </p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><b><span style='font-family:"Calibri Light",sans-serif;color:#134E9A;mso-fareast-language:FR'>L’Équipe ACENSI University League<o:p></o:p></span></b>
    </p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'><o:p>&nbsp;</o:p></span>
    </p>
    <p class=MsoNormal><a href="http://www.acensiuniversityleague.com"><span
                    style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'>www.acensiuniversityleague.com</span></a><span
                style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'><o:p></o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'><o:p>&nbsp;</o:p></span>
    </p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'>          </span><a
                href="http://www.facebook.com/acensiul/"><span
                    style='font-family:"Calibri Light",sans-serif;color:windowtext;mso-fareast-language:FR;text-decoration:none'><img
                        border=0 width=38 height=38 id="Image_x0020_6" src="{{ fb }}"></span></a><span
                style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'>  </span><a
                href="http://www.twitter.com/acensiul"><span
                    style='font-family:"Calibri Light",sans-serif;color:windowtext;mso-fareast-language:FR;text-decoration:none'><img
                        border=0 width=39 height=39 id="Image_x0020_7" src="{{ twitter }}"></span></a><span
                style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'>  </span><a
                href="http://www.instagram.com/acensiul"><span
                    style='font-family:"Calibri Light",sans-serif;color:windowtext;mso-fareast-language:FR;text-decoration:none'><img
                        border=0 width=41 height=41 id="Image_x0020_8" src="{{ instagram }}"></span></a><span
                style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'><o:p></o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'><o:p>&nbsp;</o:p></span>
    </p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif;color:green;mso-fareast-language:FR'>ü Merci de n'imprimer ce mail qu'en cas de nécessité</span><span
                style='font-family:"Calibri Light",sans-serif;mso-fareast-language:FR'><o:p></o:p></span></p>
    <p class=MsoNormal><span style='font-family:"Calibri Light",sans-serif'><o:p>&nbsp;</o:p></span></p>
</div>
</body>
</html>